NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=key
NEXT_PUBLIC_API_URL=https://email-automation-api-569786805521.us-central1.run.app/api/
# NEXT_PUBLIC_API_URL=http://localhost:8000/api/


GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxx
MODEL_BASE_URL=https://models.inference.ai.azure.com
